<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.com.giancarellieceiza.sendmeal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- defino la activity padre de main para que el boton atras vuelva a activity home -->
        <activity
            android:name=".MainActivity"
            android:label=""
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".PlatoNuevoActivity"
            android:label=""
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".ListaPlatosActivity"
            android:label=""
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity android:name=".PedidoActivity"
            android:label=""
            android:parentActivityName=".ListaPlatosActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListaPlatosActivity" />
        </activity>
        <receiver android:name=".notification.MyNotificationPublisher"></receiver>
    </application>

</manifest>